$size__site_content_width: 1024px;

$media_queries : (
    'mobile'    : "only screen and (max-width: 667px)",
    'tablet'    : "only screen and (min-width: 668px) and (max-width: $size__site_content_width)",
    'desktop'   : "only screen and (min-width: ($size__site_content_width + 1))",
    'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
    'landscape' : "screen and (orientation:landscape) ",    
    'portrait'  : "screen and (orientation:portrait) "
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
body {
    background-color: #272727;
    position: relative;
    text-align: center;
    margin: auto;
    animation: fadein 1.5s;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    -webkit-animation: fadein 1.5s;
}
.headers {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: white;
}

.main-container{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;

    .title-container{
        height: 30%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content-container{
        height: 70%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div.recipe-container{
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include for_breakpoint(mobile) {
                flex-direction: column;
                gap: 2em;
            }


            div.recipe{
                img.recipe-image{
                    width: 80%;
        
                    @include for_breakpoint(mobile) {
                        width: 70%;
                    }
                }
            }
        }

        
    }
}
