<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>IQFridge</title>
        <link
            href="{{ url_for('static', filename='css/style.css') }}"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h2 align="center">IQFridge, a DIY smart fridge.</h2>
        <p align="center">
            <a href="readdatabase"
                ><button class="grey" style="height: 75px; width: 150px">
                    Vad finns i kylen?
                </button></a
            >
        </p>
        <p align="center">
            <a href="takeimage"
                ><button class="grey" style="height: 75px; width: 150px">
                    Lägg till ny vara.
                </button></a
            >
        </p>
        <p align="center">
            <a href="findmeal"
                ><button class="grey" style="height: 75px; width: 150px">
                    Laga maträtt.
                </button></a
            >
        </p>
    </body>
</html>
