<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IQFridge ReadBar</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        </head>
    <body>
    <video id="video" width="640" height="480" autoplay style="background-color: grey"></video>
    <button id="send">Take and Send Photo</button>
    <canvas id="canvas" width="640" height="480" style="background-color: grey"></canvas>

    <script>
    // Elements for taking the snapshot
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({
                    audio: false,
                    video: {
                                facingMode: 'environment'
                            }
                }).then(function(stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }

    // Trigger photo take
    document.getElementById("send").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480); // copy frame from <video>
        canvas.toBlob(upload, "image/jpeg");  // convert to file and execute function `upload`
        window.location.replace("{{ url_for('readbar') }}");
    });

    function upload(file,_callback) {
        // create form and append file
        var formdata =  new FormData();
        formdata.append("snap", file);

        // create AJAX requests POST with file
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('upload') }}", true);
        xhr.onload = function() {};
        xhr.send(formdata);
        _callback();
    }
    </script>
    </body>
</html>
